@font-face {
	font-family: Rubik;
	src:
    url('/fonts/Rubik/rubik-light-webfont.woff2') format('woff2'),
    url('/fonts/Rubik/rubik-light-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Nunito';
    src: url('/fonts/nunito/Nunito-SemiBold.woff2') format('woff2'),
        url('/fonts/nunito/Nunito-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

:root {
    --primary-color: #6697FE;
    --body-color: #F4F4F4;
    --font-primary-regular: Rubik, sans-serif;
    --font-secondary-semi-bold: Nunito, sans-serif;
}

html > body {
  font-family: var(--font-primary-regular);
  background: var(--body-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-secondary-semi-bold);
}

.map-box {
  height: 80vh;
  padding:0;
  margin: 0 0 30px 0;
}

#shared-pano {
  margin-bottom: 20px;
}

#sv-pano {
  height: 100%;
  width: 100%;
}

#sv-map {
  z-index: 2;
  background: transparent;
  opacity: 0.6;
  width: 15%;
  height: 35%;
  border-radius: .3rem;
  border: 3px solid black;
  transition: width 0.3s, height 0.3s;
  margin: 10px;
}

#sv-map:hover {
  opacity: 0.9;
  width: 25%;
  height: 50%;
}

#sv-pano .action-buttons {
  display: flex;
  z-index: 2;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 40px;
  padding: 8px;
  background: rgba(0, 0, 0, 0.6);
  user-select: none;
}

#sv-pano .action-buttons button i {
  font-size: 25px;
  color: white;
  margin: 0 10px;
}

.toast {
  z-index: 99;
  position: absolute;
  top: 20px;
  right: 0;
  display: none;
  position: fixed;
}

.toast.toast-success {
  background-color: #d5ffc9;
  border-top: 4px solid #61bd61;
  z-index: 99999;
}

.toast.toast-danger {
  background-color: #c97c59;
  border-top: 4px solid #bb4b0a;
}

#content {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.eyeshot {
  max-width: 50%;
  margin: 0 10px;
  border: 0;
  border-radius: 6px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  cursor: pointer;
  overflow: hidden;
}

.eyeshot-image .eyeshot-media {
  width: 400px;
  height: 300px;
}

.eyeshot-image img {
  width: 100%;
  max-width:100%;
  border-radius: 6px 6px 0 0;
}

.eyeshot .eyeshot-meta {
  text-align: left;
}

.eyeshot .eyeshot-status {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 0.75rem;
  font-size: 13px;
  line-height: 1.3em;
  color: #333;
  margin: 0 0 2px 0;
  max-width: 100%;
  font-weight: 500;
}

.eyeshot .eyeshot-published {
  font-size: 12px;
  color: #999;
  line-height: 1em;
  margin-bottom: 0;
  float: left;
}

.eyeshot .eyeshot-details {
  visibility: hidden;
  box-sizing: border-box;
  height: 0;
  display: flex;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px;
  background: #fff;
  transform: translate(0, 100%, 0);
  transition: height 0.3s ease;
}

.eyeshot:hover .eyeshot-details {
  visibility: visible;
  height: 60px;
}

.top-bar .topbar-action {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: #fff;
}

.top-bar .topbar-action .sort-eyeshots select:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.top-bar .topbar-action .sort-eyeshots select {
  font-size: 15px;
}

@media screen and (max-width: 950px) {
  .top-bar .topbar-action .sort-eyeshots {
    margin-bottom: 10px;
  }
}

.explorer-profile .user-profile-card {
  align-items: center;
  text-align: center;
}

.explorer-profile .explorer-cover {
  background-color: #e9ecef;
  width: 100%;
  height: 200px;
  border-radius: .3rem;
}

.explorer-profile .explorer-cover img {
  width: 100%;
}

.eyeshot .pioneer-tag {
  font-size: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: #f8f8ff;
  padding: 1px 4px;
  border-radius: 4px;
}

.eyeshot .id-tag {
  font-size: 16px;
  position: absolute;
  top: 10px;
  left: 10px;
  background: #f8f8ff;
  padding: 1px 4px;
  border-radius: 4px;
  cursor: text;
}

/* Modal */
.modal .modal-md {
  max-width: 650px;
}
#viewEyeshot .eyeshot-avatar img {
  height: 65px;
  width: 65px;
  border-radius: 50%;
}

#viewEyeshot .modal-content {
  background: #f4f4f4;
}

#viewEyeshot .eyeshot-user {
  text-align: left;
}

#viewEyeshot .eyeshot-title,
#viewEyeshot .eyeshot-username {
  margin: 0px;
}

#viewEyeshot .eyeshot-title {
  font-size: 18px;
  line-height: 1em;
  color: #333;
  margin: 7px 0 2px 9px;
  font-weight: 600;
}

#viewEyeshot .eyeshot-username {
  color: #696464;
  margin: 0 0 5px 10px;
  font-weight: 500;
}

#viewEyeshot .eyeshot-header {
  padding: 15px;
}

#viewEyeshot #sv-pano {
  height: 70vh;
}

#viewEyeshot .eyeshot-details {
  margin: 20px 0;
}

#viewEyeshot .eyeshot-status {
  white-space: pre-line;
  text-align: justify;
}

@media screen and (max-width: 750px) {
  #viewEyeshot .eyeshot-status {
    border-bottom: 1px solid #d3e2e2;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}

#disqus_thread {
  margin-top: 30px;
}

.eyeshot-tags .eyeshot-tag {
  background-color: rgb(104, 144, 230);
  color: white;
  font-weight: 500;
  text-decoration: none;
  padding: 5px;
  font-size: 14px;
  margin: 5px;
}

.eyeshot-tags .eyeshot-tag:focus,
.eyeshot-tags .eyeshot-tag:hover {
  opacity: 0.7;
  transition: opacity 0.5s;
}

#viewEyeshot .eyeshot-details .eyeshot-meta i {
  color: #948787
}

#viewEyeshot .eyeshot-details .eyeshot-meta .social-share a {
  width: 100%;
  margin: 10px 5px;
}

#viewEyeshot .btn-outline-facebook {
  color: #3b5998;
  border-color: #3b5998;
}

#viewEyeshot .btn-outline-twitter {
  color: #1da1f2;
  border-color: #1da1f2;
}

#viewEyeshot .btn-outline-pinterest {
  color: #e3001c;
  border-color: #e3001c;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.eyeshot-loader {
  font-size: 40px;
  display: inline-block;
  animation: spin-cir 1.6s linear infinite;
}

.logo-globe {
  display: inline-block;
  animation: spin-cir 2.6s linear infinite;
}

@-webkit-keyframes spin-cir {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin-cir {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.modal .close-eyeshot-icon {
  color: white;
  font-size: 50px;
  opacity: 1;
}

.modal .close-eyeshot-icon:hover {
  color: white;
}

#viewEyeshot .modal-dialog {
  max-width: 100%;
  margin: 1.75rem 1.75rem;
}

/* Search */
.form-search {
  float: left;
  height: 33px;
  margin: 7px 0 0 0;
  font-size: 12px;
  width: 221px;
  position: relative;
}

.form-search .search-input {
  background-color: #f5f8fa;
  border-radius: 21px;
  border: 1px solid #e6ecf0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #14171a;
  display: block;
  font-size: 12px;
  height: 32px;
  line-height: 16px;
  padding: 8px 32px 8px 12px;
  transition: all .2s ease-in-out;
  width: 100%;
}

.form-search .search-input:focus {
  border: 2px solid var(--primary-color);
}

.form-search input:focus,
button:focus {
  outline: none;
}

.form-search .search-icon {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 7px;
  top: 3px;
}

.form-search .button-icon {
  background: transparent;
  display: inline-block;
  color: #66757f;
  font-size: 14px;
  height: auto;
  width: auto;
  border: none;
  font-style: normal;
  cursor: pointer;
  vertical-align: baseline;
  position: relative;
}

#shareEyeshot .modal-header {
  border-bottom: 0;
}

#shareEyeshot .modal-body i,
#shareEyeshot .modal-body i {
  color: white;
  font-size: 25px;
}

#shareEyeshot .modal-body .share-facebook i,
#shareEyeshot .modal-body .share-twitter i,
#shareEyeshot .modal-body .share-whatsapp i {
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}

#shareEyeshot .modal-body .share-facebook i {
  background: #3b5998;
}

#shareEyeshot .modal-body .share-twitter i {
  background: #1da1f2;
}

#shareEyeshot .modal-body .share-whatsapp i {
  background: #4dee6a;
  font-size: 30px;
}

#shareEyeshot .modal-body a {
  margin: 0 15px;
  text-decoration: none;
}

#shareEyeshot .share-url {
  display: flex;
  justify-content: center;
  background: #e9ecef;
  padding: 6px;
  border-radius: 5px;
  margin: 0 20px;
}

#shareEyeshot .share-url input {
  border: 0;
}

#shareEyeshot .share-url input:focus {
  box-shadow: none;
}

#shareEyeshot .share-url i {
  color: black;
}

/* Favourite Modal */
.fav-shot {
  border-radius: 0;
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 0;
}

.fav-shot .list-inline {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.fav-shot .list-inline li {
  position: relative;
}

.fav-shot .list-inline li.active::after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  content: "";
  top: 30px;
  left: 50%;
  left: -webkit-calc(50% - 5px);
  left: -moz-calc(50%-5px);
  left: calc(50% - 5px);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #dddddd;
}

.fav-shot .list-inline li.active a {
  color: #222222;
  font-weight: bold;
}

#favouriteBox {
  z-index: 9999;
}

#favouriteBox .fav-shot .form-control {
  width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.fav-shot .list-inline li+li {
  margin-left: 10px;
}

.tags-container {
  margin-bottom: 8px;
}

.descriptionInput {
  resize: none;
  border-bottom-width: 15px;
  box-shadow: 0 30px 40px rgba(0, 0, 0, .1);
}

.divider {
  margin: 10px 0;
  height: 2px;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, #4DC0B5));
  background: #4DC0B5;
}

#favouriteBox .btn-mini {
  padding: 4px 12px;
  font-size: 12px;
}

#favouriteBox .modal-header {
  border: 0;
  margin-bottom: 0;
  padding: 10px;
}

#favouriteBox .modal-header .close {
  padding: 0;
  margin: 0;
}

#favouriteBox .modal-content {
  border-radius: 10px;
}

#favouriteBox .fav-shot {
  border-radius: 10px;
}

@media (min-width: 576px) {
  .modal-es-size {
    max-width: 650px !important;
  }
}

#favouriteBox .eyeshot-section {
  padding: 0px;
}

#favouriteBox .eyeshot-avatar {
  margin: 0px -14px 0px -14px;
}

#favouriteBox .eyeshot-avatar img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

#favouriteBox .eyeshot-avatar .user-nickname {
  word-break: break-all;
}

#favouriteBox .post-eyeshot {
  padding: 10px;
  background-color: #f6f7f8;
}

#favouriteBox ul li {
  padding: 2px;
}

#favouriteBox ul li a {
  text-decoration: underline;
}

/* Navbar */
.navbar {
  font-family: var(--font-secondary-semi-bold);
  font-size: 16px;
}

.navbar-nav .nav-item {
  margin: 0 8px;
}

.navbar-nav .nav-item #navbarDropdown i {
  font-size: 12px;
}

header .navbar .navbar-brand {
  font-size: 20px;
  transition: color 0.4s ease;
}

header .navbar .navbar-brand:hover {
  color: lightgrey;
}

header .navbar-dark {
  background-color: #333333;
}

header .navbar .eyeshot-user img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

/* Container */
.eyeshot-container-fluid {
  width: 100%;
  padding: 20px 30px 40px 30px;
  margin-right: auto;
  margin-left: auto;
}

/* Button */
.modal .btn-outline-twitter i {
  color: #1da1f2;
}

.modal .btn-outline-facebook i {
  color: #3b5998;
}

.modal .btn-outline-twitter,
.modal .btn-outline-facebook {
  color: #343a40;
  border-color: #343a40;
}

.modal .btn-outline-twitter:hover i,
.modal .btn-outline-facebook:hover i {
  color: white;
}

.modal .btn-outline-twitter:hover {
  color: #fff;
  background-color: #1da1f2;
  border-color: #1da1f2;
}

.modal .btn-outline-facebook:hover {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

/* User Card */
.user-card {
  padding: 10px;
}

.profile-nav span {
  text-transform: uppercase;
}

.profile-nav a li {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  width: 120px;
  background-color: white;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.profile-nav a {
  text-decoration: none;
  color: black;
}

.profile-nav a.active li {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15); 
}

/* Landing */
.wtf-eyeshot {
  box-sizing: content-box;
  margin: 0 auto;
  max-width: 568px;
  padding: 0 16px;
  width: auto;
}

@media (min-width: 600px) {
  .wtf-eyeshot {
    max-width: 1280px;
    padding: 0 32px;
  }
}

@media (min-width: 600px) {
  .wtf-eyeshot .description {
    padding: 0 10%;
  }
}

.wtf-eyeshot h1 {
  font-size: 44px;
}

.wtf-eyeshot .random-eyeshots big a {
  letter-spacing: .75px;
}

.wtf-eyeshot .random-eyeshots big a:hover i {
  margin-left: 5px;
  transition: margin-left 0.2s ease;
}

#content .eyeshot-controls {
  border-radius: 25px;
  margin-right: 45px;
  margin-left: 45px;
  margin: 1rem 5rem;
  box-shadow: 0px 5px 18px 0px rgba(0, 4, 32, 0.08);
}

.eyeshot-controls i {
  padding: 20px;
  border-radius: 50%;
  color: black;
  font-size: 40px;
  color: #63D95D;
}

.bg-es-primary {
  background-color: var(--primary-color);
  color: white;
}

.banner-lower {
  background: white;
  color: black;
}

.banner-lower .funny-street-views img {
  width: 250px;
  height: 250px;
  border-radius: 6px;
  object-fit: cover;
  margin: 5px;
}

/* Footer */
footer.home-footer .footer-brand {
  font-size: 20px;
  color: black;
  text-decoration: none;
  font-weight: 800;
}

.home-footer .nav-list li:not(:last-child) {
  margin-right: 15px;
}

.es-social-icons a {
  color: black;
  font-size: 18px;
  text-decoration: none;
}

.es-social-icons a:hover {
  opacity: 0.7;
  color: black;
  text-decoration: none;
}

/* Button */
.button-es {
  transition: transform .15s linear !important;
  color: #fff !important;
  letter-spacing: 1.25px;
  background-color: #6697FE !important;
  border-color: #99B9FE;
}

.button-es:hover {
  -webkit-transform: scale(1.035);
      -ms-transform: scale(1.035);
      transform: scale(1.035);
  color: black;
}

.themeGreen {
  background-color: #43b581;
  color: #fff;
}

.btn.themeInverted {    
  background-color: transparent;
  color: #fff;
  border: 1px solid white;
}

.btn-lg {
  padding: 0.8rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.btn.focus, .btn:focus {
  box-shadow: none;
}

.eyeshot-feed {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

nav ul.pagination {
  display: none;
}

/* PWA */
#pwa-snackbar {
  display: none;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

#pwa-snackbar.show {
  display: block;
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
  z-index: 99;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 0px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 0px; opacity: 1;}
}

.pwa-notif {
  background-color: #3c366b;
  text-align: center;
  cursor: pointer
}

.pwa-notif .pwa-body {
  background-color: #434190;
  align-items: center;
  color: #ebf4ff;
  line-height: 1;
  border-radius: 9999px;
  display: inline-flex;
}

.pwa-notif .pwa-body .pwa-tag {
  display: flex;
  border-radius: 9999px;
  background-color: #667eea;
  font-size: .75rem;
  font-weight: bold;
}

.pwa-notif .pwa-body .pwa-msg {
  font-weight: 600;
  flex: 1 1 auto;
}

.pwa-notif .close {
  color: white;
  margin: 10px;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 1;
}

.pwa-notif .close:hover {
  color: white;
}

@media all and (display-mode: standalone) {
  #pwa-snackbar {
    display: none !important;
  }

  .eyeshot-controls {
    display: none;
  }

  #app-install {
    display: none;
  }
}

/* For mobile */
@media screen and (max-width: 600px) {
  #loginSignupTv .social-login {
    display: flex;
    flex-flow: column;
  }

  #loginSignupTv .social-login .auth-social {
    margin-bottom: 15px;
  }

  #sv-map {
    display: none;
  }

  #sv-pano .action-buttons {
    padding: 2px;
  }

  #sv-pano .action-buttons button i {
    font-size: 22px;
  }

  header .navbar .eyeshot-user {
    margin-top: 8px;
  }

  .eyeshot {
    max-width: 70%;
  }
  
  .eyeshot-container-fluid {
    margin-top: 15px;
    padding: 0;
  }

  div.tooltip {
    display: none;
  }

  .modal .close-eyeshot-icon {
    color: #000;
  }

  #pwa-snackbar .pwa-body {
    margin: 0 15px;
    line-height: 1.4;
  }

  #pwa-snackbar .close {
    margin: 2px 10px;
    font-size: 30px;
  }
}

.categories-index {
  display:flex;
  justify-content: space-between;
  margin-bottom: 3em;
}

.categories-index a {
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
}

/* Placeholder */
.eyeshot-placeholder .banner-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.eyeshot-placeholder .banner-text h1 {
  line-height: 1;
  font-size: 2rem;
  margin: 1rem 0;
}

.eyeshot-placeholder .eyeshot-banner {
  padding: 10px 30px;
  border-bottom: 5px solid;
  border-bottom-color: #5e5e5e;
  background-color: #f4f7fc;
  color: black;
}

.eyeshot-placeholder .banner-image {
  margin: 15px 0;
  user-select: none;
}

.eyeshot-placeholder .docs {
  padding: 0 50px;
  background: white
}

.eyeshot-placeholder .docs-links {
  background: #F4F6FA;
  padding: 20px;
  padding: 0 40px;
}

.eyeshot-placeholder .docs-links .nav-pills a {
  color: black;
}

.eyeshot-placeholder .docs-links .nav-pills {
  top: 20px;
  position: sticky;
}

.eyeshot-placeholder .docs .docs-section {
  margin-bottom: 90px;
}

.eyeshot-placeholder .docs .docs-section .docs-title {
  padding: 0px 0 20px;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  color: #384248;
  font-size: 30px;
}

.eyeshot-placeholder pre {
  background: black;
  border: 1px solid #ddd;
  border-left: 3px solid #007bff;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
  text-align: center;
}

.eyeshot-placeholder pre code a {
  color: white;
}

.eyeshot-placeholder pre code a:hover {
  color: rgb(230, 224, 224);
  text-decoration: none;
}

.eyeshot-placeholder .docs-links .nav-pills .nav-link.active,
.eyeshot-placeholder .docs-links .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #5e5e5e;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.eyeshot-placeholder .documentation .row {
  margin: 0;
}

.newsletter {
  border-radius: .5rem;
  border: 1px solid #e5e7eb;
  background-color: #252F3F;
  color: white;
}

.newsletter .btn {
  color: white;
  background-color: #6875F5;
}

.newsletter .btn:hover {
  color: white;
  background-color: #5b69e9;
}

.newsletter .email {
  padding: .75rem 1rem;
  line-height: 1.5rem;
  border-radius: .375rem;
  border-color: #d2d6dc;
  background-color: #fff;
  width: 100%;
  font-family: var(--font-secondary-semi-bold);
}

.newsletter .email:focus {
  box-shadow: 0 0 0 3px rgba(164,202,254,.45);
  outline: 0;
  border-color: #a4cafe;
}

.newsletter .sub-text {
  font-family: var(--font-secondary-semi-bold);
}

@media (max-width: 768px) {
  .newsletter .btn {
    margin-top: 10px;
  }
}

.newsletter .subscribed {
  width: 100%;
}

.newsletter .subscribed p {
  margin: 10px 0 0 0;
}

#newsletterModal .close {
  color: white;
  font-size: 3em;
  margin: 2rem 1rem;
}

#newsletterModal .newsletter-modal {
  max-width: 500px;
  margin: 1.75rem auto;
}

.related-posts {
  display: flex;
  justify-content: center;
}