/* html,
body,
.content,
.sv-app {
  height: 100%;
} */

body {
  background-color: #f4f4f4;
}

.map-box {
  height: 500px;
  margin:0;
  padding:0;
}

#sv-pano {
  height: 100%;
  width: 100%;
}

#sv-map {
  z-index: 2;
  background: transparent;
  opacity: 0.6;
  width: 30%;
  height: 40%;
}

#sv-map:hover {
  opacity: 0.9;
}

.map-box {
  margin: 60px 100px;
}

#sv-pano .action-buttons {
  z-index: 2;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 40px;
  padding: 8px;
  background: rgba(0, 0, 0, 0.6);
}

#sv-pano .action-buttons button i {
  font-size: 25px;
  color: white;
  margin: 0 10px;
}

.toast {
  z-index: 99;
  position: absolute;
  top: 20px;
  right: 0;
}

.toast.toast-success {
  background-color: #d5ffc9;
  border-top: 4px solid #61bd61;
}

.toast.toast-danger {
  background-color: #c97c59;
  border-top: 4px solid #bb4b0a;
}

#content {
  background: #f4f4f4;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.eyeshot {
  width: 100%;
  border: 0;
  border-radius: 6px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
}

.eyeshot-image img {
  width: 100%;
  border-radius: 6px 6px 0 0;
}

.eyeshot .eyeshot-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.eyeshot .eyeshot-username {
  margin: 10px;
}

.eyeshot .eyeshot-location {
  margin-bottom: 0.75rem;
}

.eyeshot .eyeshot-details {
  padding: 1rem;
  flex: 1 1 auto;
}

