/* html,
body,
.content,
.sv-app {
  height: 100%;
} */

body {
  background-color: #f4f4f4;
}

.map-box {
  height: 500px;
  margin:0;
  padding:0;
}

#sv-pano {
  height: 100%;
  width: 100%;
}

#sv-map {
  z-index: 2;
  background: transparent;
  opacity: 0.6;
  width: 20%;
  height: 40%;
  border: 3px solid black;
  transition: width 0.3s, height 0.3s;
  margin: 10px;
}

#sv-map:hover {
  opacity: 0.9;
  width: 30%;
  height: 50%;
}

.map-box {
  margin: 60px 100px;
}

#sv-pano .action-buttons {
  z-index: 2;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 40px;
  padding: 8px;
  background: rgba(0, 0, 0, 0.6);
  user-select: none;
}

#sv-pano .action-buttons button i {
  font-size: 25px;
  color: white;
  margin: 0 10px;
}

.toast {
  z-index: 99;
  position: absolute;
  top: 20px;
  right: 0;
  display: none;
}

.toast.toast-success {
  background-color: #d5ffc9;
  border-top: 4px solid #61bd61;
}

.toast.toast-danger {
  background-color: #c97c59;
  border-top: 4px solid #bb4b0a;
}

#content {
  background: #f4f4f4;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.eyeshot {
  width: 100%;
  border: 0;
  border-radius: 6px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  cursor: pointer;
  overflow: hidden;
}

.eyeshot-image img {
  width: 100%;
  border-radius: 6px 6px 0 0;
}

.eyeshot .eyeshot-meta {
  text-align: left;
}

.eyeshot .eyeshot-status {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 0.75rem;
  font-size: 13px;
  line-height: 1.3em;
  color: #333;
  margin: 0 0 2px 0;
  max-width: 100%;
  font-weight: 500;
}

.eyeshot .eyeshot-published {
  font-size: 12px;
  color: #999;
  line-height: 1em;
  margin-bottom: 0;
  float: left;
}

.eyeshot .eyeshot-details {
  padding: 1rem;
  flex: 1 1 auto;
  position: absolute;
  top: calc(100%);
  width: 100%;
  background-color: #ffffff;
  transition: top 0.35s ease;
}

.eyeshot:hover .eyeshot-details {
  top: calc(80%);
}

@media screen and (min-width: 530px) {
  .eyeshot:hover .eyeshot-details {
    top: calc(80%);
  }
}

.top-bar .topbar-action {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px 10px;
  background-color: #f8f9fa;
}

@media screen and (max-width: 950px) {
  .top-bar .topbar-action .sort-eyeshots {
    margin-bottom: 10px;
  }
}

.explorer-profile .user-profile-card {
  align-items: center;
  text-align: center;
}

.explorer-profile .explorer-cover {
  background-color: #e9ecef;
  width: 100%;
  height: 200px;
  border-radius: .3rem;
}

.explorer-profile .explorer-cover img {
  width: 100%;
}

/* Explorer Masonry */
.eyeshots-mason {
  max-width: 100%;
}

.masonry {
  columns: 1;
  column-gap: 10px;
}

.eyeshot-mason {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
      columns: 2;
  }
}

@media only screen and (min-width: 1024px) {
  .masonry {
      columns: 3;
  }
}

.eyeshot-mason,
.eyeshot-media {
  border-radius: 4px;
  overflow: hidden;
}

.eyeshot .pioneer {
  font-size: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: #f8f8ff;
  padding: 0.5px 4px;
  border-radius: 4px;
}

.eyeshot-mason {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
  transition: filter .25s ease-in-out;
}

.eyeshot-mason img {
  width: 100%;
}

.eyeshot-mason:hover {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .3));
}

.masonry-footer {
  font-size: .75em;
  opacity: .25;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  margin-bottom: -1.5em;
  transition: opacity 1s ease-in-out;
}

.masonry-footer a {
  color: currentColor;
}

.masonry-footer:hover,
.masonry-footer:active,
.masonry-footer:focus {
  opacity: .75;
}

/* Modal */
#viewEyeshot .eyeshot-avatar img {
  height: 65px;
  width: 65px;
  border-radius: 50%;
}

#viewEyeshot .modal-content {
  background: #f4f4f4;
}

#viewEyeshot .eyeshot-user {
  text-align: left;
}

#viewEyeshot .eyeshot-title,
#viewEyeshot .eyeshot-username {
  margin: 0px;
}

#viewEyeshot .eyeshot-title {
  font-size: 18px;
  line-height: 1em;
  color: #333;
  margin: 7px 0 2px 9px;
  font-weight: 600;
}

#viewEyeshot .eyeshot-username {
  color: #696464;
  margin: 0 0 5px 10px;
  font-weight: 500;
}

#viewEyeshot .eyeshot-header {
  padding: 15px;
}

#viewEyeshot #sv-pano {
  height: 70vh;
}

#viewEyeshot .eyeshot-details {
  margin: 20px 0;
}

#viewEyeshot .eyeshot-status {
  white-space: pre-line;
  text-align: justify;
}

@media screen and (max-width: 750px) {
  #viewEyeshot .eyeshot-status {
    border-bottom: 1px solid #d3e2e2;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}

.eyeshot-tags .eyeshot-tag {
  background-color: #90ee90;
  color: black;
  font-weight: 500;
  text-decoration: none;
  padding: 5px;
  font-size: 14px;
  margin: 5px;
}

.eyeshot-tags .eyeshot-tag:focus,
.eyeshot-tags .eyeshot-tag:hover {
  opacity: 0.7;
  transition: opacity 0.5s;
}

#viewEyeshot .eyeshot-details .eyeshot-meta i {
  color: #948787
}

#viewEyeshot .eyeshot-details .eyeshot-meta .social-share a {
  width: 100%;
  margin: 10px 5px;
}

#viewEyeshot .btn-outline-facebook {
  color: #3b5998;
  border-color: #3b5998;
}

#viewEyeshot .btn-outline-twitter {
  color: #1da1f2;
  border-color: #1da1f2;
}

#viewEyeshot .btn-outline-pinterest {
  color: #e3001c;
  border-color: #e3001c;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.eyeshot-loader {
  font-size: 40px;
  display: inline-block;
  animation: spin-cir 1.6s linear infinite;
}

@-webkit-keyframes spin-cir {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin-cir {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spin-cir {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spin-cir .75s linear infinite;
  animation: spin-cir .75s linear infinite;
}

.spin-cir-sm {
  width: 1rem;
  height: 1rem;
  border-width: 0.2em;
}

.modal .close-eyeshot-icon {
  color: white;
  font-size: 50px;
  opacity: 1;
}

.modal .close-eyeshot-icon:hover {
  color: white;
}

#viewEyeshot .modal-dialog {
  max-width: 100%;
  margin: 1.75rem 1.75rem;
}

/* Search */
/* search form */
.form-search {
  float: left;
  height: 33px;
  margin: 7px 15px 0 0;
  font-size: 12px;
  width: 221px;
  position: relative;
}

.form-search .search-input {
  background-color: #f5f8fa;
  border-radius: 21px;
  border: 1px solid #e6ecf0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #14171a;
  display: block;
  font-size: 12px;
  height: 32px;
  line-height: 16px;
  padding: 8px 32px 8px 12px;
  transition: all .2s ease-in-out;
  width: 100%;
}

.form-search .search-input:focus {
  border: 2px solid var(--primary-color);
}

.form-search input:focus,
button:focus {
  outline: none;
}

.form-search .search-icon {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 7px;
  top: 3px;
}

.form-search .button-icon {
  background: transparent;
  display: inline-block;
  color: #66757f;
  font-size: 14px;
  height: auto;
  width: auto;
  border: none;
  font-style: normal;
  cursor: pointer;
  vertical-align: baseline;
  position: relative;
}

#shareEyeshot .modal-header {
  border-bottom: 0;
}

#shareEyeshot .modal-body i,
#shareEyeshot .modal-body i {
  color: white;
  font-size: 25px;
}

#shareEyeshot .modal-body .share-facebook i,
#shareEyeshot .modal-body .share-twitter i {
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}

#shareEyeshot .modal-body .share-facebook i {
  background: #3b5998;
}

#shareEyeshot .modal-body .share-twitter i {
  background: #1da1f2;
}

#shareEyeshot .modal-body a {
  margin: 0 25px;
  text-decoration: none;
}

#shareEyeshot .share-url {
  display: flex;
  justify-content: center;
  background: #e9ecef;
  padding: 6px;
  border-radius: 5px;
  margin: 0 20px;
}

#shareEyeshot .share-url input {
  border: 0;
}

#shareEyeshot .share-url input:focus {
  box-shadow: none;
}

#shareEyeshot .share-url i {
  color: black;
}

/* Favourite Modal */
.fav-shot {
  border-radius: 0;
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 0;
}

.fav-shot .list-inline {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.fav-shot .list-inline li {
  position: relative;
}

.fav-shot .list-inline li.active::after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  content: "";
  top: 30px;
  left: 50%;
  left: -webkit-calc(50% - 5px);
  left: -moz-calc(50%-5px);
  left: calc(50% - 5px);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #dddddd;
}

.fav-shot .list-inline li.active a {
  color: #222222;
  font-weight: bold;
}

#favouriteBox .fav-shot .form-control {
  width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.fav-shot .list-inline li+li {
  margin-left: 10px;
}

.tags-container {
  margin-bottom: 8px;
}

.descriptionInput {
  resize: none;
  border-bottom-width: 15px;
  box-shadow: 0 30px 40px rgba(0, 0, 0, .1);
}

.divider {
  margin: 10px 0;
  height: 2px;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, #4DC0B5));
  background: #4DC0B5;
}

#favouriteBox .btn-mini {
  padding: 4px 12px;
  font-size: 12px;
}

#favouriteBox .modal-header {
  border: 0;
  margin-bottom: 0;
  padding: 10px;
}

#favouriteBox .modal-header .close {
  padding: 0;
  margin: 0;
}

#favouriteBox .modal-content {
  border-radius: 10px;
}

#favouriteBox .fav-shot {
  border-radius: 10px;
}

@media (min-width: 576px) {
  .modal-es-size {
    max-width: 650px !important;
  }
}

#favouriteBox .eyeshot-section {
  padding: 0px;
}

#favouriteBox .eyeshot-avatar {
  margin: 0px -14px 0px -14px;
}

#favouriteBox .eyeshot-avatar img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

#favouriteBox .eyeshot-avatar .user-nickname {
  word-break: break-all;
}

#favouriteBox .post-eyeshot {
  padding: 10px;
  background-color: #f6f7f8;
}

#favouriteBox ul li {
  padding: 2px;
}

#favouriteBox ul li a {
  text-decoration: underline;
}